/*
  Original idea 'A collection of all country flags in SVG' at https://github.com/lipis/flag-icon-css
*/
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;

  border-radius: 50%;
}

.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 2em;
}
.flag-icon-es.flag-icon-squared {
  background-image: url(../img/flags/es.svg);
}
.flag-icon-fr.flag-icon-squared {
  background-image: url(../img/flags/fr.svg);
}
.flag-icon-en.flag-icon-squared {
  background-image: url(../img/flags/en.svg);
}
.flag-icon-pt.flag-icon-squared {
  background-image: url(../img/flags/pt.svg);
}

.flag-icon-xx.flag-icon-squared {
  background-image: url(../img/flags/xx.svg);
}
